# ===============================
# ไฟล์/โฟลเดอร์ทั่วไปที่ไม่ต้องการ
# ===============================
.git
.gitignore
Dockerfile
docker-compose.yml
.dockerignore

# ===============================
# Node.js
# ===============================
node_modules
npm-debug.log
yarn-error.log
.env